@model AccountProfileViewModel
@inject IFollowService _followService
@{
    ViewBag.Title = Model.ApplicationUser.Firstname + " " + Model.ApplicationUser.Lastname;
}

<div class="container-fluid" id="margintop70">
    <div class="row">
        <div class="col-md-3">
            <img src="~/ProfilePics/@Model.ApplicationUser.PhotoPath" alt="@Model.ApplicationUser.Firstname" class="img-responsive" asp-append-version="true">
            <h3 class="text-center">
                @Model.ApplicationUser.Firstname @Model.ApplicationUser.Lastname
            </h3>
                @if(Model.IsCurrentUserProfile)
                {
                    <a class="btn btn-warning btn-block" asp-controller="Account" asp-action="Manage" asp-route-id="@Model.ApplicationUser.Id">Manage Account</a>

                }
                else
                {

                    if(_followService.CheckIfFollower(Model.ApplicationUser.Id))
                    {
                        <form asp-controller="Follow" asp-action="UnFollowUser" asp-route-id="@Model.ApplicationUser.Id" method="post">
                            <button type="submit" class="btn btn-block btn-warning">Unfollow</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Follow" asp-action="FollowUser" asp-route-id="@Model.ApplicationUser.Id" method="post">
                            <button type="submit" class="btn btn-block btn-warning">Follow</button>
                        </form>
                    }
                }
            
        </div>
        <div class="col-md-9">
             <div class="btn-group btn-group-justified" id="btnGroup">
              <a asp-controller="Account" asp-action="Profile" asp-route-tab="photo" class="btn btn-warning">Photos: @Model.Photos.Count()</a>
              <a asp-controller="Account" asp-action="Profile" asp-route-tab="likedphotos" class="btn btn-warning">Likes: @Model.LikedPhotos.Count()</a>
              <a asp-controller="Account" asp-action="Profile" asp-route-tab="following" class="btn btn-warning">Following: @Model.Following.Count()</a>
              <a asp-controller="Account" asp-action="Profile" asp-route-tab="followers" class="btn btn-warning">Followers: @Model.Followers.Count()</a>
            </div> 
            @{
                var tabValue = Context.Request.Query["tab"];
                switch(tabValue)
                {
                    default:
                    case "photo":
                        <partial name="_Gallery" model="@Model.Photos" />
                        break;
                    case "likedphotos":
                         <partial name="_Gallery" model="@Model.LikedPhotos" />
                         break;
                    case "followers":
                        <partial name="_Follow" model="@Model.Followers" />
                        break;
                    case "following":
                        <partial name="_Follow" model="@Model.Following" />
                        break;
                }
            }
        </div>
    </div>
</div>