@model UploadPhotoViewModel
@{
  ViewBag.Title = "Upload Photo";
}

<div class="container" id="uploadWrapper">
    <h2 class="text-center">Upload Photo</h2>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <img src="" class="img-responsive img-rounded" id="setImg">
             <form enctype="multipart/form-data" asp-controller="Photos" asp-action="Upload" method="post">
                <div class="input-group">
                  <div class="custom-file">
                    <label class="custom-file-label" asp-for="@Model.Photo"></label>
                    <input asp-for="@Model.Photo" class="custom-file-input" id="fileinput">
                    <span asp-validation-for="@Model.Photo" class="text-danger"></span>
                  </div>
                <div class="form-group">
                  <label asp-for="@Model.Title"></label>
                  <input asp-for="@Model.Title" class="form-control">
                  <span asp-validation-for="@Model.Title" class="text-danger"></span>
                </div>
                </div>
                <div class="button-group pull-right">
                  <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Cancel</a>
                  <button type="submit" class="btn btn-warning" id="uploadsubmit">Submit</button>
                </div>
            </form> 
        </div>
    </div>
</div>

